body, html{
  width: 100%;
  height: 100%;
  background: black;
  position: static;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.pointer-lock-hint{
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 44px;
  font-family: Arial;
  font-size: 20px;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  padding: 22px;
  color: white;
  pointer-events: none;
}

.locked .pointer-lock-hint{
  display: none;
}

.pointer-lock-demo{
  width: 100%;
  height: 100%;
  background-image:url(https://images.pexels.com/photos/207142/pexels-photo-207142.jpeg?cs=srgb&dl=pexels-pixabay-207142.jpg&fm=jpg);
  background-repeat: repeat;
  position: static;
  top: 0;
  left: 0;
}

.locked .pointer-lock-demo::after,
.locked .pointer-lock-demo::before{
  background-position: 50% 50%;
  background-repeat:  no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  content: '';
  z-index: 1;
}

.locked .pointer-lock-demo::after{
  background-image: radial-gradient( 50% 50% , circle closest-side, rgba(9,0,0,0) 0, rgba(0,4,0,1) 100%);
  background-image: -webkit-radial-gradient( 50% 50% , circle closest-side, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
  background-image: -moz-radial-gradient( 50% 50% , circle closest-side, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
}

.locked .pointer-lock-demo::before{
  background-image: url('https://images.pexels.com/photos/207142/pexels-photo-207142.jpeg?cs=srgb&dl=pexels-pixabay-207142.jpg&fm=jpg');
  background-size: 600px;
  opacity: .0;
}